* {
  margin: 0;
  padding: 0;
  transition: color 0.8s;
  transition: background-color 1s;
}

#input {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,523&family=Dancing+Script:wght@700&family=Exo+2:ital,wght@1,300&family=IM+Fell+English+SC&family=Lobster&family=Pacifico&family=Playball&family=Press+Start+2P&display=swap');

.logoName {
  font-size: 23px;
  font-family: 'IM Fell English SC', serif;
  /* font-family: 'Cabin', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Playball', cursive;
  font-family: 'Press Start 2P', cursive; */
}

.expand {
  position: absolute;
  top: 0;
  right: 0;
}

.expand-1 {
  position: absolute;
  top: 0;
  right: 3.75rem;
}

#input,
#output {
  margin: 20px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: 1px !important;
}
th,
td {
  padding: 5px;
}

img,
svg {
  width: auto;
  max-width: -webkit-fill-available;
}

blockquote {
  border-left: 4px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C\201D\2018\2019';
}

blockquote p {
  display: inline;
}
